<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>  
    <form action="/update/:id" method="Post">

        <input type="text" name="task" id= "" value="<%=response.task%>">
        <input type="text" name="timescale" id= "" value="<%=response.timescale%>">
        <input type="text" name="when" id= "" value="<%=response.when%>">
        <input type="text" name="_id" id= "" value="<%=response._id%>" hidden>
        <button type= "submit">Update</button>

    </form>
</body>
</html>